body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

* {
    box-sizing: border-box;
    color: red;
    font-family: "Times New Roman", Times, serif;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    perspective: 100px;
}

.carousel_viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
}

.carousel_slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-size: 100% 100%;
    border-radius: 5px;
    background-image: url("assets/img/img1.jpeg");
} 

.carousel_navigation {
    position: absolute;
    right: 0;
    bottom: -40px;
    text-align: right;
    background-color: #fff;
}

.carousel_navigation-list,
.carousel_navigation-item {
    display: inline-block;
}

.carousel_navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #71abff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}